@font-face {
	font-family: 'OpenSans';
	src: url("../fonts/OpenSans/OpenSans-Regular.ttf");
	font-size: 1em;
}

@font-face {
	font-family: 'OpenSans-Light';
	src: url("../fonts/OpenSans/OpenSans-Light.ttf");
	font-size: 1em;
}

@font-face {
	font-family: 'Josefin';
	src: url("../fonts/Josefin/JosefinSans-Regular.ttf");
	font-size: 1em;
}

@font-face {
	font-family: 'Josefin-Bold';
	src: url("../fonts/Josefin/JosefinSans-Bold.ttf");
	font-size: 1em;
}

header {
	position: fixed;
	width: 100%;
	height: 8vh;
	background-color: rgba(0, 0, 0, 0);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
}

.green-background {
	top: 0px;
	left: 0px;
	background-color: rgba(0, 128, 0, 0.9);
	height: 10vh;
	display: flex;
	align-items: center;
	position: absolute;
}

#Logotipo {
	margin-left: 13vw;
	width: 5vw;
	max-width: 85px;
	max-height: 9vh;
	position: absolute;
}

.menu-container {
	top: 0px;
	left: 33vw;
	background-color: rgba(255, 223, 0, 0.93);
	height: 10vh;
	display: flex;
	align-items: center;
	position: absolute;
}

#menu ul{
	display: flex;
	margin: 0;
}

#menu li{
	margin-top: 2vh;
	margin-left: 3vw;
	display: flex;
	font-family: "OpenSans";
}

#menu li a{
	text-decoration: none;
	color: #009c3b;
	font-weight: bold;
	font-size: 1.2em;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.menu-container input[type="search"] {
  margin-left: 5vw;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;

  outline: none;
  border-color: #009c3b;
  box-shadow: 0 0 5px rgba(0, 156, 59, 0.5);
}

#Fundo{
	width: 100%;
	height: 120vh;
	position: relative;
	z-index: 80;
}

#banner .texto {
	z-index: 90;
    position: absolute;
    top: 65vh;
    left: 4vh;
}

#banner .texto h1 {
	font-family: OpenSans;
	font-size: 120px;
    color: #FFDF00;
    text-shadow: 2px 2px 4px blacK;
}

#banner .texto h2 {
	font-size: 40px;
    color: #FFDF00;
    text-shadow: 2px 2px 4px blacK;
    -webkit-text-stroke: 0.5px green;
}


#fotos h2 {
	color: #008000;
	font-family: 'OpenSans';
	font-size: 36px;
	text-align: center;
	margin-top: 4vh;
}

#fotos hr {
	border:#FFDF00 solid 2px;
	width: 350px;
	margin: 0 auto;
}

.thumbnails img{
	margin-top: 20px;
	width: 266px;
	max-width: 266px;
	height: 150px;
	max-height: 150px;
	border: 2px solid #ccc;
}

#fotos .thumbnails h3 {
	color: #0055A4;
	font-size: 12px;
	font-family: 'OpenSans';
	margin-top: 10px;
	margin-left: 2px;
}

#fotos .thumbnails time {
	color: #008000;
	font-size: 10px;
	font-family: 'OpenSans-Light';
}

#estatisticas {
	background-color: #0055A4;
	width: 100%;
	height: 30vh;
}

#estatisticas p {
	color: #FDE092;
	text-transform: uppercase;
	font-family: 'OpenSans';
	font-size: 64px;
	margin-top: 3.5vw;
	margin-left: 6vw;
}

#estatisticas p small {
	color: #fff;
	font-size: 24px;
	display: block;
}

.call img{
	margin-top: 2vw;
	margin-bottom: 2vw;
	width: 350px;
	max-width: 350px;
	height: 350px;
	max-height: 350px;
	border: 2px solid #ccc;
}


.cont h4 {
    position: relative;
    text-align: -webkit-center;
    bottom: 6vw;
    color: #008000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 26px;
    -webkit-text-stroke: 0.6px black;
}

.cont .textoLivros {
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    -webkit-text-stroke: 1.25px black;
}

.banner video {
    width: 100%;
    height: auto;
    filter: blur(10px);
}

.texto {
	color: #ffffff;
    position: absolute;
    top: 150vw;
    text-align: -webkit-center;
}

.texto h1{
	font-family: Josefin;
    position: relative;
    text-align: -webkit-center;
    font-size: 100px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    -webkit-text-stroke: 0.2px black;
}

.texto h2{
	font-family: OpenSans;
	margin-top: 0.5vw;
	font-size: 32px;
	-webkit-text-stroke: 0.3px black;
}

.botao-clique {
	margin-top: 3vh;
	background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    width: 250px;
    height: 70px;
    border-radius: 0;
    transition: background-color 0.3s ease;
}

footer {
    margin-top: 40px;
}

footer .row p {
    line-height: 55px;
    margin-bottom: 0;
}

footer .row-cinza-claro {
    height: 200px;
    background-color: #171F26;
}

footer .row-cinza-escuro {
    height: 60px;
    background-color: #11171D;
    border-top: #242D37 1px solid;
}

footer .pull-left {
    font-family: 'OpenSans';
    font-size: 14px;
    color: #666;
}

footer .logotipo {
    margin-top: 28px;
}

footer .col-popular-post,
footer .col-links,
footer .col-get-in-touch {
    margin-top: 40px;
}

footer .row-cols h4 {
    font-family: 'OpenSans';
    font-size: 16px;
    color: #FFF;
    padding-bottom: 17px;
    border-bottom: #242D37 1px solid;
}

footer .row-cols h5 {
    color: #666;
    font-family: Arial;
    font-size: 14px;
    margin-bottom: 0;
}

footer .row-cols time {
    color: #FDE092;
    font-family: Arial;
    font-size: 14px;
}

footer .col-links a {
    color: #FFF;
    font-family: Arial;
    font-size: 14px;
}

footer .col-links .fa {
    margin: 0 6px;
}

footer .col-get-in-touch address {
    color: #666;
    font-family: Arial;
    font-size: 14px;
    margin-bottom: 6px;
}

footer .col-get-in-touch address span {
    display: inline-block;
}

footer .col-get-in-touch address i {
    position: relative;
    top: -14px;
}

footer .col-get-in-touch i {
    color: #9B9B9B;
    font-size: 20px;
    margin: 0 6px;
}

footer .col-get-in-touch a {
    color: #666;
}

footer .col-get-in-touch p {
    line-height: 20px;
}

footer .list-socials {
    margin-top: 4px;
}

footer .list-socials li {
    display: inline-block;
    margin-right: 8px;
}

footer .list-socials a {
    display: block;
    border: #9B9B9B 1px solid;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 14px;
    text-align: center;
}

footer .list-socials i {
    font-size: 16px;
    margin: 7px auto;
}

.logotipo {
    width: 120px;
    max-width: 120px;
    height: 120px;
    max-height: 120px;
}

@media (min-width: 1380px) {

#Fundo{
	width: 100%;
	height: 150vh;
	z-index: 80;
}

.call img{
	width: 400px;
	max-width: 400px;
	height: 400px;
	max-height: 400px;
	border: 2px solid #ccc;
	margin: 2vw;
}


.cont h4 {
    position: relative;
    text-align: center;
    bottom: 4.5vw;
    left: 1.7vw;
    color: #008000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 40px;
    -webkit-text-stroke: 0.6px black;
}

.cont .textoLivros {
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    -webkit-text-stroke: 1.25px black;
}

#menu li a{
	text-decoration: none;
	color: #009c3b;
	font-weight: bold;
	font-size: 1.8em;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#banner .texto {
	z-index: 90;
    position: absolute;
    top: 75vh;
    left: 4vh;
}

#banner .texto h1 {
	font-size: 220px;
    color: #FFDF00;
    text-shadow: 2px 2px 4px blacK;
    -webkit-text-stroke: 3px green;
}

#banner .texto h2 {
	font-size: 60px;
    color: #FFDF00;
    text-shadow: 2px 2px 4px blacK;
    -webkit-text-stroke: 2px green;
}

.texto {
	color: #ffffff;
    position: absolute;
    top: 130vw;
    text-align: -webkit-center;
    margin-left: 10vw;
}

.texto h1{
	font-family: Josefin;
    position: relative;
    text-align: -webkit-center;
    font-size: 160px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    -webkit-text-stroke: 0.2px black;
}

.texto h2{
	font-family: OpenSans;
	margin-top: 2vw;
	font-size: 32px;
	-webkit-text-stroke: 0.3px black;
}

.botao-clique {
	margin-top: 6vh;
	background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    width: 250px;
    height: 70px;
    border-radius: 0;
    transition: background-color 0.3s ease;
}


}


